
<h1>{{ad}}</h1>

<mat-form-field appearance="fill">
<mat-select [(ngModel)]="selectedValue" #t (selectionChange)="sel(t.value,t1.value)">
    <mat-option *ngFor="let x of champ" [value]="x">
      {{x}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<mat-form-field appearance="fill">
<mat-select [(ngModel)]="selectedValue1"  #t1 (selectionChange)="sel(t.value,t1.value)">
    <mat-option *ngFor="let y of ozellik" [value]="y">
      {{y}}
    </mat-option>
  </mat-select>
</mat-form-field>

<ul>
    <li>
       <h2> {{data|uppercase}}</h2>
    </li>
</ul>


<img src={{pic}}>

<div>
<ng-image-slider [images]="imgCollection" [imageSize]="{width: '60%', height: '60%',space: 4}" #nav></ng-image-slider>
</div>